* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    padding: 200px;
    background-image: url(../Assets/img/banner-bk.jpg);
    color: white;
    text-align: center;
}

main>h1 {
    text-align: center;
    padding: 4rem;
}

.secc1 {
    padding: 20px 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img2 {
   
    background: #51eca8;
    color: white;
    padding: 100px 20px;
    text-align: center;
    clip-path: polygon(0 45%, 100% 0, 100% 100%, 0 100%);
}


 main>.pay {
    background-color: white;
}