* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background-image: url(../Assets/img/banner-bk.jpg);
    height: 40rem
}

.container {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.container>box-icon {
    margin-left: 6rem;
    margin-top: 2rem;
    font-size: 5rem;
}

.link {
    text-align: right;
    text-decoration: none;
    display: flex;
    color: white;
    font-size: 20px;
    margin-top: 4rem;
    margin-right: 2rem;
}

.text-container {
    font-size: 65px;
    line-height: 80px;
    color: white;
    margin-bottom: 35px;
    margin-left: 6rem;
    margin-top: 4rem;
}

.text-container span {
    display: block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.sub-title {
    color: white;
    margin-left: 6rem;
}

header>button {
    margin-top: 3rem;
    margin-left: 6rem;
    border-radius: 50px;
    border: #072540;
    height: 2.5rem;
    width: 9rem;
    color: #072540;
    font-weight: bold;
    background-color: #51eca8;
    cursor: pointer;
}


.logo {
    width: 5%;
    height: 50%;
}

main h1{
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.title-info{
    text-align: start;
}

.secc1 {
    padding: 20px 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info {
    padding: 0 8rem;

}

.sub-info {
    columns: auto;
    max-height: 375;
    text-align: justify;
}

.btn-1 {
    padding: 8px 15px;
    color: white;
    border-radius: 20rem;
    background-color: #072540;
    cursor: pointer;
}



.diagonal-section {
    position: relative;
    overflow:visible;
    background: #51eca8;
    padding: 100px 20px;
    text-align: center;
    clip-path: polygon(0 45%, 100% 0, 100% 100%, 0 100%);
}


.image-1 {
    position: absolute;
    top: 73rem; 
    right: 80px;
    width: 35%;
    height: 45%; 
    background: url('../Assets/img/feature-1.png') ;
    background-size: cover;
    z-index: 1; 
}

.diagonal-section img{
    display: flex;
    width: 35%;
    height: 45%; 
}




.section-price {
    text-align: center;
    padding: 1rem;
}

.pay {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.target-pay {
    flex: 1;
    margin: 10px;
    padding: 7rem;
    border-radius: none;
    background-color: white;

}

.target-pay2 {
    flex: 1;
    margin: 10px;
    padding: 7rem 3rem;
    border-radius: none;
    background-color: #072540;
    color: white;
}

.title2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

.target-pay .price {
    font-size: 2em;
    color: black;
    margin-bottom: 20px;
}

.target-pay2 .price {
    font-size: 2em;
    color: white;
    margin-bottom: 20px;
}

.descript {
    font-size: 1em;
    margin-bottom: 20px;
}



.target-pay .btn2 {
    background-color: white;
    color: #072540;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20rem;
    border-color: #072540;
    cursor: pointer;
}

.target-pay2 .btn2 {
    background-color: #00d084;
    color: #072540;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20rem;
    cursor: pointer;
}

.container3 {
    display: flex;
    width: 100vw;
    margin-top: 6rem;
    justify-content: center;
    background-color: rgb(241, 241, 241);
}

.companys img {
    margin-bottom: 20px;
    padding: 25px 25px;
    align-items:start;
}

.contact-container {
    display: flex;
    flex-direction: column;
    background-image: url(../Assets/icons/contact-bk.jpg);
    padding: 20px;;
    width: 100%;
}

.contact-info {
    margin-bottom: 20px;
    color: white;
}

.contact-info h2 {
    margin-bottom: 10px;
}

.contact-info p {
    margin: 5px 0;
}

.contact-form {
    display: flex;
    justify-content: flex-end;
}

.contact-form input, .contact-form textarea {
    background-color: transparent;
    border-radius: 1rem;
    border-color: #00b874;
    padding: 10px;
    margin-bottom: 10px;
    color: #ffffff;
}

.contact-form button {
    background-color: #00d084;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #00b874;
}

