* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    padding: 200px;
    background-image: url(../Assets/img/banner-bk.jpg);
    color: white;
    display: flex;
}


.title{
    width: 50%;
    height: 50%;
    color: white;
    font-size: 300%;
    align-items: center;
    margin: 5%;
    padding: 20px 30px;
}
.logo {
    width: 5%;
    height: 50%;
}

main>h1 {
    text-align: center;
    padding: 50px 20px;
}

.secc1 {
    padding: 20px 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info {
    padding: 0 8rem;

}

.sub-info {
    columns: auto;
    max-height: 375;
    text-align: justify;
}

.btn-1 {
    padding: 8px 15px;
    color: white;
    border-radius: 20rem;
    background-color: #072540;
    cursor: pointer;
}



.diagonal-section {
    position: relative;
    background: #51eca8;
    padding: 100px 20px;
    text-align: center;
    clip-path: polygon(0 45%, 100% 0, 100% 100%, 0 100%);
}




.pay > h3{

}


